<div class="row">

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="green">
      <i class="material-icons">wb_sunny</i>
    </div>
    <div class="card-content">
      <p class="category">Température</p>
      <h3 class="title">{{temperature}}<small>°C</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="blue">
      <i class="material-icons">cloud</i>
    </div>
    <div class="card-content">
      <p class="category">Humidité</p>
      <h3 class="title">{{humidity}}<small>%</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">battery_std</i>
    </div>
    <div class="card-content">
      <p class="category">Batterie</p>
      <h3 class="title">{{batterie}}<small>%</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>

</div>
<div class="row">

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="purple">
      <i class="material-icons">cloud</i>
    </div>
    <div class="card-content">
      <p class="category">Niveau sonore</p>
      <h3 class="title">{{nivso}}<small>dB</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="grey">
      <i class="material-icons">wb_sunny</i>
    </div>
    <div class="card-content">
      <p class="category">Ensoleillement</p>
      <h3 class="title">{{ sol }}<small>dB</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="red">
      <i class="material-icons">bubble_chart</i>
    </div>
    <div class="card-content">
      <p class="category">Niveau de CO2</p>
      <h3 class="title">{{ co }}<small>dB</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
          <i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
  <center>
    <div id="cont_NjkwODF8NXwzfDF8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx">
    <div id="spa_NjkwODF8NXwzfDF8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx">
      <a id="a_NjkwODF8NXwzfDF8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx" href="http://www.meteocity.com/france/ecully_v69081/" target="_blank" style="color:#333;text-decoration:none;">Météo Écully</a> ©<a href="http://www.meteocity.com">meteocity.com</a></div><script type="text/javascript" src="http://widget.meteocity.com/js/NjkwODF8NXwzfDF8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx">
      </script>
  </div>
</center>
</div>

<div class="row">
  <center>
    <script id="_waunwn">var _wau = _wau || []; _wau.push(["classic", "k3vumnwbziwp", "nwn"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/classic.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>
  </center>
</div>
