<div class="row">

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="green">
      <i class="material-icons">wb_sunny</i>
    </div>
    <div class="card-content">
      <p class="category">Température</p>
      <h3 class="title">{{temperature}}<small>°C</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="blue">
      <i class="material-icons">cloud</i>
    </div>
    <div class="card-content">
      <p class="category">Humidité</p>
      <h3 class="title">{{humidity}}<small>%</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">battery_std</i>
    </div>
    <div class="card-content">
      <p class="category">Batterie</p>
      <h3 class="title">{{batterie}}<small>%</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>

</div>
<div class="row">

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="purple">
      <i class="material-icons">cloud</i>
    </div>
    <div class="card-content">
      <p class="category">Niveau sonore</p>
      <h3 class="title">{{nivso}}<small>dB</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="orange">
      <i class="material-icons">wb_sunny</i>
    </div>
    <div class="card-content">
      <p class="category">Ensoleillement</p>
      <h3 class="title">{{ sol }}<small>dB</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
        	<i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="red">
      <i class="material-icons">bubble_chart</i>
    </div>
    <div class="card-content">
      <p class="category">Niveau de CO2</p>
      <h3 class="title">{{ co }}<small>dB</small></h3>
    </div>
    <div class="card-footer">
      <div class="stats">
          <i class="material-icons">date_range</i> Last 24 Hours
      </div>
    </div>
  </div>
</div>
</div>

<p> </p>

<center>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.2386212430456!2d4.761944950595569!3d45.78644697900348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ecc1f92a9f33%3A0x19d7ecf50a69094c!2semlyon+business+school!5e0!3m2!1sfr!2sfr!4v1478195205342" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</center>

<p> </p>

<div class="row">
  <center>
<div id="cont_NjkwODF8NXwzfDN8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx">
  <div id="spa_NjkwODF8NXwzfDN8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx">
    <a id="a_NjkwODF8NXwzfDN8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx" href="http://www.meteocity.com/france/ecully_v69081/" target="_blank" style="color:#333;text-decoration:none;">Météo Écully</a> ©<a href="http://www.meteocity.com">meteocity.com</a>
  </div>
  <script type="text/javascript" src="http://widget.meteocity.com/js/NjkwODF8NXwzfDN8MXxGRkZGRkZ8M3xGRkZGRkZ8Y3wx">
</script>
</div>
</center>
</div>

<div class="row">
  <center>
    <script id="_waunwn">var _wau = _wau || []; _wau.push(["classic", "k3vumnwbziwp", "nwn"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/classic.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>
  </center>
</div>
