<!doctype html>

<html lang="fr">
<head>
  {% include "header.html" %}
</header>

<body>
  <div class=wraper>
      {% include "sidebar.html" %}

      <div class="main-panel">
        {% include "navbar.html" %}

        <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Margaux Dumont</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Ewen Bouloux</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Vincent Joseph-Noël</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Julie Joubrel</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Guilhem </p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Bruno Marioli</p>
             </div>
           </div>
         </div> 

  </div>
</div>
</body>
