<!doctype html>

<html lang="fr">
<head>
  {% include "header.html" %}
</header>

<body>
  <div class=wraper>
      {% include "sidebar.html" %}

      <div class="main-panel">
        {% include "navbar.html" %}

        <div class="content">
          <div class="container-fluid">

        <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Margaux D.</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Ewen B.</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Vincent J-N.</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Julie J.</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Guilhem D.</p>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 col-sm-6">
           <div class="card card-stats">
             <div class="card-header" data-background-color="orange">
               <i class="material-icons">person</i>
             </div>
             <div class="card-content">
               <p class="category">Bruno M.</p>
             </div>
           </div>
         </div>
</div>
</div>
  </div>
</div>
</body>
