<div class="sidebar" data-color="red" data-image="/static/dashboard/assets/img/abeille.jpg">
<!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

      Tip 2: you can also add an image using data-image tag
  -->

  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
      <B>Happyculteurs</B>
<!-- <<<<<<< Updated upstream Happyculteurs ======= Happyculteurs >>>>>>> Stashed changes -->
    </a>
  </div>

    <div class="sidebar-wrapper">
          <ul class="nav">
              <li class="active">
                  <a href="dashboard.html">
                      <i class="material-icons">dashboard</i>
                      <p>Accueil</p>
                  </a>
              </li>
          </ul>

<center>
  <a class="twitter-timeline" href="https://twitter.com/hashtag/abeille" data-widget-id="794212773471420416">#abeille-Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</center>

    <center>
      <script id="_waunwn">var _wau = _wau || []; _wau.push(["classic", "k3vumnwbziwp", "nwn"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/classic.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>
    </center>

  </div>
</div>
