<div class="sidebar" data-color="red" data-image="/static/dashboard/assets/img/abeille.jpg">
<!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

      Tip 2: you can also add an image using data-image tag
  -->

  <div class="logo">
    <a href="/" class="simple-text">
      <B>Happyculteurs</B>
<!-- <<<<<<< Updated upstream Happyculteurs ======= Happyculteurs >>>>>>> Stashed changes -->
    </a>
  </div>

    <div class="sidebar-wrapper">
          <ul class="nav">
              <li class="active">
                  <a href="/">
                      <i class="material-icons">dashboard</i>
                      <p>Accueil</p>
                  </a>
              </li>
              <li class="active">
                  <a href="/makers">
                      <i class="material-icons">fingerprint</i>
                      <p>Makers</p>
                  </a>
              </li>
              <li class="active">
                  <a href="/maps">
                      <i class="material-icons">search</i>
                      <p>Maps</p>
                  </a>
              </li>
              <li class="active">
                  <a href="/camera">
                      <i class="material-icons">camera_alt</i>
                      <p>Camera</p>
                  </a>
              </li>
              <li class="active">
                  <a href="/news">
                      <i class="material-icons">wb_sunny</i>
                      <p>Actualités</p>
                  </a>
              </li>
          </ul>

<center>
  <a class="twitter-timeline" href="https://twitter.com/hashtag/abeille" data-widget-id="794212773471420416">#abeille-Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</center>

  </div>
</div>
